body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f8;
}

/* HEADER */
.header {
    background: #2563eb;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-size: 14px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* CONTENT */
.container {
    padding: 20px;
}

h2 {
    color: #2563eb;
}

/* FORM */
.user-form input,
.user-form select,
.user-form button {
    padding: 10px;
    margin: 5px;
}

.user-form button {
    background: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
}

/* TABLE */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background: #2563eb;
    color: white;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}
